.quiz-container {
    padding: 15px;
    .title {
        font-size: 26px;
        font-weight: 600;
    }
    legend {
        font-size: 13px;
    }
    .list-detail {
        // padding: 15px;
    }
}