.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 50px;
    .left-content {
        border: 1px solid red;
        width: 70%;
        .title {
            font-size: 28px;
            font-weight: 600;
        }
        .q-content {
            text-align: center;
            .question {
                font-size: 22px;
                font-weight: 600;
                padding: 20px 0;
            }
            .q-image {
                width: 100%;
                height: 100px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .answer {
                .a-child {
                    text-align: left;
                    padding-left: 50px;
                }
            }
        }
        .footer {
            margin-top: 20px;
            display: flex;
            justify-content:center;
        }


    }

    .right-content {
        border: 2px solid #ccc;
        width: 30%;
        border-radius: 5px;
        padding: 20px;
        .main-timer {
            border-bottom: 1px dashed;
            padding-bottom: center;
            text-align: center;
            font-weight: 600;
            padding-top: 10px;
            font-size: 20px;
        }
        .main-question {
            padding-top: 12px;
            display: flex;
            gap: 20px;
            padding-left: 1rem;
            flex-wrap: wrap;
            .question {
                border: 1px solid rgb(100, 100, 100);
                height: 40px;
                width: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                flex-wrap: wrap;
                // padding: 15px;

                &:hover {
                    color: red;
                }
                &.selected {
                    background-color: #818181;
                }
                &.clicked {
                    color: red;
                }
            }
        }
    }
}