

.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }
    .admin-content {
      width: 100%;
      border-bottom: 1px solid #ccc;
      .admin-header {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 10px;
        .rightside {
          cursor: pointer;
          font-size: 18px;
          color: cyan;
          display: flex;
          gap: 15px;
        }
      }

      .admin-main {
        margin-bottom: 10px;
        height: calc(100vh - 50px);
        .user-pagination {
          display: flex;
          justify-content: center;
        }
      }
    }
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo-spin {
      animation: app-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }