.questions-containter {
    padding: 15px;
    .title {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 600;
    }
    .question-content {
        display: flex;
        gap: 25px;
        .description {
            width: 50%;
            
        }
        .group-upload {
            padding-top: 15px;
            .image-name {
                cursor: pointer;
            }
           
            .add-image {
                margin-right: 5px;
                cursor: pointer;
                color: #a484fa;
                font-size: 25px;
                &:hover {
                    color: #3807cb
                }
            }
          
        }
        .btn-add {
            padding: 15px;
            .icon-add {
                font-size: 20px;
                color: rgb(21, 165, 227);
                cursor: pointer;

            }
            .icon-remove {
                margin-left: 10px;
                font-size: 20px;
                color: orange;
                cursor: pointer;
            }
        }

    }
    .answers-content {
        display: flex;
        gap: 10px;
        padding-left: 20px;
        padding-top: 20px;
        align-items: center;
        margin-top: 0;
        .iscorrect {
            font-size: 20px;
        }
        .answer-name {
            width: 60%;
        }
        .btn-group {
            padding: 15px;
            .icon-add {
                font-size: 24px;
                color: rgb(21, 165, 227);
                cursor: pointer;

            }
            .icon-remove {
                margin-left: 10px;
                font-size: 24px;
                color: orange;
                cursor: pointer;
            }
        }
    }
}