.dashboard-container {
    padding: 20px;
    .title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .content {
        display: flex;
        gap: 20px;
  
        .content-left {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            
            .child {
                width: calc(50% - 10px);
                height: 150px;
                border: 1px solid #ccc;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                .text-2 {
                    font-size: 25px
                }
            }
            height: 300px;

        }
        .content-right {
            width: 50%;
            height: 300px;
        }
    }
}