.manage-user-container {
    padding: 10px;
    .user-content {
        .btn-add-new {
            margin: 15px 0;
        }
    }
    .title {
        font-weight: 600;
        font-size: 20px;

    }
}
.modal-add-user {
    .img-preview {
        border: 1px dashed #ccc;
        border-radius: 5px;
        height: 100%;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;
        margin-top: 12px;
        img {
            max-height: 50%;
            max-width: 50%;
        }
    }
    .label-upload {
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid rgb(0, 102, 255);
        width: fit-content;
        padding: 3px 10px;
        margin-top: 16px;
        border-radius: 5px;
        background: #eeeeee;
        cursor: pointer;

        &:hover {
            background-color: #dcdcdc;
            color:rgba(0, 140, 255, 0.993)
        }
    }

}