body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@media (min-width: 1350px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1650px !important;
  }
}

.languages {
  .dropdown-toggle::after {
    display: none !important;
  }
}

.app-container {
  .header-container {
    .btn-login {
      border-radius: 4px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid #535353;
      height: 40px;
    }
    .btn-signup {
      border-radius: 4px;
      margin-right: 15px;
      padding: 0 15px;
      background-color: rgba(0, 0, 0, 0.79);
      color: white;
      height: 40px;

      &:hover {
        background-color: black;
      }
    }
    .navbar {
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          color: cyan;
        }
      }
    }
    // .navbar-nav .nav-link.active {
    //   color: red;
    // }
  }
  .homepage-container {
    .homepage-content {
      padding: 100px;
      width: 47%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .title-1 {
        font-size: 46px;
        font-weight: 600;
      }
      .title-2 {
        font-size: 32px;
      }
      .title-3 {
        button {
          border-radius: 4px;
          padding: 0 15px;
          height: 40px;
          color: white;
          background-color: rgba(0, 0, 0, 0.712);

        &:hover {
          background: black;
        }
        }
      }
    }
  }
  .app-content {
    height: calc(100vh - 60px);
  }
}



video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
