.register-container {
    .header{
        height: 45px;
        display: flex;
        gap: 10px;
        justify-content: end;
        align-items: center;
        padding: 5px 100px 0 100px;
        button {
            padding: 3px 15px;
            margin-left: 15px;
            border-radius: 3px;
            background-color: #f9f9f9;
            border: 1px solid;
        }
        &:hover {
            background-color: white;
        }
    }
    .title {
        font-size: 25px;
        padding: 12px 0;
        text-align: center;
    }
    .welcome {
        font-size: 20px;
        padding: 30px 0;
        text-align: center;
    }
    .content-form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        label {
            margin-bottom: 12px
        }
        button {
            width: 100%;
            height: 40px;
            border: none;
            margin: 20px 0;
            border-radius: 5px;
            color: white;
            background-color: black;
        }
        .back {
            cursor: pointer;
        }
        .password-icon {
            display: flex;
            justify-content: end;
            padding-right: 6px;
        }
        .form-group {
            position: relative;
            .password-icon {
                position: absolute;
                top: 46px;
                right: 4px;
                cursor: pointer;
            }
        }
        
    }

}