.login-container {
    @media (prefers-reduced-motion: no-preference) {
        .loader-icon {
          animation: loader-icon infinite 0.7s linear;
          margin: 0 4px 3px 0;
        }
      }
      
      @keyframes loader-icon {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

    .header {
        height: 45px;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
        padding: 5px 100px 0 100px;
        button {
            padding: 3px 15px;
            margin-left: 15px;
            border-radius: 3px;
            background-color: #f9f9f9;
            border: 1px solid;
        }
        &:hover {
            background-color: white;
        }


    }
    .title {
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }
    .welcome {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
    }
    .content-form {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        label {
            padding-bottom: 4px;
        }
    
        input {
            margin-bottom: 15px;
        }
        button {
            width: 100%;
            height: 40px;
            border: none;
            margin: 20px 0;
            border-radius: 5px;
            color: white;
            background-color: black;
            &:disabled {
                background-color: #dddddd;
                color: #afafaf;
                cursor: no-drop;
            }
        }


        .back {
            cursor: pointer;
        }
        
    }
}